
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav .logo {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

}
.nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

#header {
    background-color: #c1b3b3; /* Dark background for header */
    color: rgb(23, 19, 87);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#header img {
    width: 100%;
    height: auto;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

#contact {
    background-color: #949b9f48;
}

h1,
h2 {
    color: #07273e;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#section {
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
    width: 800px;
    align-items: center;
    justify-content: center;
    
}
.section-content {

    padding: 20px;
    margin-bottom: 40px;
    width: 800px
}
.intro-text {
    width: 50%;
    float: left;
    padding: 20px;
}

.intro-image {
    width: 50%;
    float: left;
}

.intro-image img {
    width: 100%;
    height: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;

}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input[type="submit"] {
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #005f99;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}